<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Registered Users</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_userprofiles}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Predications</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_predictions}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Last User Prediction</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{last_prediction.userprofile.first_name}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>